@font-face {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    src: url("../fonts/Roboto-Bold.ttf");
}