*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: $font-kattaligi;
    padding: 0;
}

.container{
    max-width: 1600px;
    padding: 0 90px;
    margin: auto;
}

