.btn{
    padding:5px 10px;
    color: white;
    border: none;
    border-radius: 10px;

    &--success{
        background-color: green;
    }

    &--danger{
        background-color: red;
    }
}

