.cards{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
    &__item{
        display: flex;
        align-items: center;
    }

    .card{
        border: 1px solid #0082F4;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        padding: 30px;
        position: relative;
        overflow: hidden;
        &:hover{
            background-color: aqua;
        }
        &::before{
            content:"";
            position: absolute;
            left: 0;
            top: 0;

            width: 62px;
            height: 100%;
            background-color: #0082F4;
            z-index: -1;
        }

        &__img{
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 2px solid white;
        }

        &__info{
            padding:0 40px;

            & > *{
                opacity: 0.7;
            }
        }

        &__description{
            margin: 0;
        }

        &__name, &__job{
            margin: 10px 0;
        }

        &__name{
            margin-top: 45px;
            opacity: 0.9;
            font-weight: 400;
            display: flex;
            align-items: center;
            &::before{
                content: "";
                width: 30px;
                margin-right: 10px;
                opacity: 0.7;
                height: 2px;
                background-color: black;
            }
        }   
        &__job{
            padding-left: 40px;

        }
    }
}