.header{
    display: flex;
    align-items: center;
    &__logo{
        text-decoration: none;
    }

    .navbar{
        display: flex;
        list-style: none;
        &__item{
            margin: 10px 15px;
        }

        &__link{
            text-decoration: none;
        }
        
    }
}